<h2 class="page-title">Livres à retourner</h2>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th> ID du livre </th>
                        <th> Date d'emprunt </th>
                        <th> Date de retour </th>
                        <th> Échéance </th>
                        <th> Actions </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let b of borrow">
                        <td> {{ b.bookId }} </td>
                        <td> {{ b.issueDate }} </td>
                        <td> {{ b.returnDate }} </td>
                        <td> {{ b.dueDate }} </td>
                        <td>
                            <button *ngIf="b.returnDate === null" (click)="returnBook(b.borrowId)" class="btn btn-sm btn-warning">📤 Retourner</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
